.col,.col-1,.col-7, .col-8, .col-2, .col-5{
    border: 1px solid black;
    background-color: black;
    color: white;
    align-content: center;
} 
#ind{
  text-decoration: none;
  color: white;

}
.container{
  background-color: white;
}

.flottant{
  position: fixed;
  z-index: 99;
}
.tete{
  padding-top: 60px;
}
.menu {
  text-align:center;
  z-index: 100;
}
.bloc {
  z-index: 99;
}
.section, .aside{
  background-color: green;
  height: 250px;
  margin-left: 25px;
 
  text-align: center;
  color:azure;
}
.aside{
  margin-right: 25px;
  display: flex;
justify-content: center;
align-items: center;
}
footer{
  height: 10px;
  margin: 10px; 
  display: flex;
  justify-content:end;
  align-items: center;
  font-size: 10px;

}
#map {    
  height: 80vh;
  width: 100hw;
  margin: 2px;
  padding: 0;
  z-index: 98;
  color: rgb(73, 72, 72);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* CSS pour styliser le bouton "Évaluer mon école" */
.evaluate-button {
  background-color: #bff3d4; /* Couleur de fond */
  color: #636262; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 10px 20px; /* Remplissage intérieur */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur de la souris */
  border-radius: 5px; /* Bordure arrondie */
}

.evaluate-button:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}



